
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$red: rgb(255,081,035);
$highlight: rgba(255,081,035,.5);
// $hover: #000;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$avenirNext: "Avenir Next Heavy Italic", "Arial Bold Italic", Arial, sans-serif;
$arialBoldItalic: "Arial Bold Italic", Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 800px) {
    @content;
  }
}
